webdev/graphics/AMZN/*.html linguist-vendored
webdev/graphics/COF/*.html linguist-vendored
webdev/graphics/GOOGL/*.html linguist-vendored
webdev/graphics/HON/*.html linguist-vendored
webdev/graphics/IBM/*.html linguist-vendored
webdev/google.html linguist-vendored
webdev/amazon.html linguist-vendored
webdev/IBM.html linguist-vendored
webdev/capitalOne.html linguist-vendored
webdev/honeyWell.html linguist-vendored
